* {
  box-sizing: border-box;
}

.bt-component {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

.bt-disabled,
.bt-component:disabled {
  opacity: $disabledOpacity;
}

.bt-error {
  color: $errorColor;
}
